# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Build
dist
build
coverage

# Docker
Dockerfile
docker-compose.yml
docker-compose.prod.yml
.dockerignore

# Environment
.env
.env.*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
postgres_data
mongodb_data